@model ShppingCartViewModel;

<div class="Container">
    <div class="row">
       
        <div class="divCartImg">
             <img class="imgCart" src="~/img/Full-Cart-icon.png" />
            <h4>Seu Carrinho de Lanches</h4>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Lanche</th>
                    <th class="text-right">Preço</th>
                    <th class="text-right">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td>@item.Quantity</td>
                        <td>@item.Snack.Name</td>
                        <td>@item.Snack.Price.ToString("c")</td>
                        <td>@item.Snack.</td>
                        <td class="text-right">
                            @((item.Quantity * item.Snack.Price).ToString("c"))
                        </td>
                        <td class="text-center">
                            <a asp-controller="ShoppingCart" asp-action="RemoveToCart" asp-route-snackId="@item.Snack.SnackId">
                                <img src="~/img/remove.ico"/>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">@Model.ShoppingCartTotal</td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
        <div class="btn-group">
         <a class="btn btn-success" asp-controller="Request" asp-action="Checkout">Encerrar Pedido</a>
            &nbsp;&nbsp;&nbsp;
         <a class="btn btn-primary" asp-controller="Snack" asp-action="List">Continuar Comprando</a>
        </div>
    </div>
</div>
